#!/usr/bin/make -f
# -*- makefile -*-

export INSTALL_ROOT=$(shell pwd)
JAVA_HOME=/usr/lib/jvm/default-java

SRC_VER ?= $(shell cat ./../controller/src/base/version.info)
BUILDNUM ?= $(shell date -u +%m%d%Y)
export BUILDTAG ?= $(SRC_VER)-$(BUILDNUM)

%:
	dh $@ --with javahelper

override_dh_auto_build:
	cat debian/changelog.in | sed 's,BUILDTAG,$(BUILDTAG),g' > debian/changelog

override_dh_auto_clean:
	rm -f debian/manpages/*.1

override_dh_install:
	dh_install

override_dh_installinit:
	dh_installinit
