#!/usr/bin/make -f
# -*- makefile -*-

export INSTALL_ROOT=$(shell pwd)
JAVA_HOME=/usr/lib/jvm/default-java

%:
	dh $@ --with javahelper

override_dh_auto_build:

override_dh_auto_clean:
	dh_auto_clean
	rm -f debian/manpages/*.1

override_dh_install:
	dh_install

override_dh_installinit:
	dh_installinit
